{% extends "users/layout.html" %} 
{% load static %}
{% load blog_tags %}
{% block content %}
<br /><br />
<div class="page-wraper">

    <!-- Content -->
  <div class="page-content">
		<!-- Section Banner -->
		<div class="dez-bnr-inr dez-bnr-inr-md overlay-black-dark" style="background-image:url(static/images/main-slider/slide1.jpg);">
      <div class="container">
          <div class="dez-bnr-inr-entry align-m text-white">
    <div class=" job-search-form">
      <h2 class="text-center">The Easiest Way to Get Your New Job</h2>
      <h3>Find Jobs, Employment & Career Opportunities</h3>
      <form action="{% url 'job-search-list' %}" method="get">
        <div class="input-group">
          <input type="text" name="p" class="form-control" placeholder="Job Title, Keywords Or Company Name">
          <input type="text" name="q" class="form-control" placeholder="City, Province Or Region">
          <div class="input-group-prepend">
            <button class="site-button" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
      </div>
  </div>
<!-- Section Banner END -->
        <!-- About Us -->
		<div class="section-full job-categories content-inner-2 bg-white" style="background-image:url(static/images/pattern/pic1.html);">
			<div class="container">
				<div class="section-head d-flex head-counter clearfix">
					<div class="mr-auto">
						<h2 class="m-b5">Popular Categories</h2>
						<h6 class="fw3">20+ Catetories work wating for you</h6>
					</div>
					<div class="head-counter-bx">
						<h2 class="m-b5 counter">{{ job_count.count}}</h2>
						<h6 class="fw3">Jobs Posted</h6>
					</div>
					<div class="head-counter-bx">
						<h2 class="m-b5 counter">{{ trendings.count}}</h2>
						<h6 class="fw3">Trending Jobs</h6>
					</div>
					{% comment %} 	<div class="head-counter-bx">
						<h2 class="m-b5 counter">{{ user_count }}</h2>
						<h6 class="fw3"style="color:white; font-weight: bold;">Registered Users</h6>
					</div> {% endcomment %}
				</div>
				<div class="row sp20">
					<div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
						<div class="card card-signin my-5">
						  <div class="card-body">
							<h5 class="card-title text-center">
							  <b>Some Popular Search terms:</b><br />
							</h5>
							<hr my-2 />
				
							<form class="form-signin">
							  <div class="form-group">
								<a
								  class="btn btn-outline-primary mr-2 mt-2"
								  href="/job/?p=accounting&q="
								  >Accounting</a
								>
				
								<a
								class="btn btn-outline-primary mr-2 mt-2"
								href="/job/?p=auditing&q="
								>Auditing</a
							  >
				
							  <a
								  class="btn btn-outline-primary mr-2 mt-2"
								  href="/job/?p=finance&q="
								  >Finance</a
								>
				
								<a
								  class="btn btn-outline-info mr-2 mt-2"
								  href="/job/?p=admin&q="
								  >Admin</a
								>
								<a
								  class="btn btn-outline-danger mr-2 mt-2"
								  href="/job/?p=agriculture&q="
								  >Agriculture </a
								>
								<a class="btn btn-outline-dark mr-2 mt-2" href="/job/?p=design&q="
								  >Design</a
								>
								<a
								  class="btn btn-outline-danger mr-2 mt-2"
								  href="/job/?p=architecture&q="
								  >Architecture</a
								>
								<a
								class="btn btn-outline-primary mr-2 mt-2"
								href="/job/?p=business&q="
								>Business</a
							  >
								<a
								class="btn btn-outline-secondary mr-2 mt-2"
								href="/job/?p=catering&q="
								>Catering</a
							  >
							  
								<a
								  class="btn btn-outline-secondary mr-2 mt-2"
								  href="/job/?p=consulting&q="
								  >Consulting</a
								>
								
								
								<a
								  class="btn btn-outline-success mr-2 mt-2"
								  href="/job/?p=transport&q="
								  >Transport</a
								>
								<a
								  class="btn btn-outline-primary mr-2 mt-2"
								  href="/job/?p=software&q="
								  >Software</a
								>
								<a
								  class="btn btn-outline-info mr-2 mt-2"
								  href="/job/?p=management&q="
								  >Management</a
								>
								
								<a
								  class="btn btn-outline-danger mr-2 mt-2"
								  href="/job/?p=hospitality&q="
								  >Hospitality</a
								>
								<a
								  class="btn btn-outline-success mr-2 mt-2"
								  href="/job/?p=human+resource&q="
								  >Human Resource</a
								>
								<a
								  class="btn btn-outline-info mr-2 mt-2"
								  href="/job/?p=legal&q="
								  >Legal</a
								>
								
							   
								<a
								  class="btn btn-outline-danger mr-2 mt-2"
								  href="/job/?p=medicine&q="
								  >Medicine</a
								>
								<a
								  class="btn btn-outline-secondary mr-2 mt-2"
								  href="/job/?p=project&q="
								  >Project</a
								>
								<a class="btn btn-outline-dark mr-2 mt-2" href="/job/?p=quality+control&q="
								  >Quality Control</a
								>
								<a
								  class="btn btn-outline-danger mr-2 mt-2"
								  href="/job/?p=teaching&q="
								  >Teaching</a
								>
								<a
								class="btn btn-outline-info mr-2 mt-2"
								href="/job/?p=sales&q="
								>Sales</a
							  >
				
								<a
								  class="btn btn-outline-success mr-2 mt-2"
								  href="/job/?p=procurement&q="
								  >Procurement</a
								>
								<a
								  class="btn btn-outline-info mr-2 mt-2"
								  href="/job/?p=trade&q="
								  >Trade</a
								>
								<a
								class="btn btn-outline-info mr-2 mt-2"
								href="/job/?p=beauty&q="
								>Beauty</a
							  >
							  
							  <a
								  class="btn btn-outline-info mr-2 mt-2"
								  href="/job/?p=government&q="
								  >Government</a
								>
								<a
								  class="btn btn-outline-info mr-2 mt-2"
								  href="/job/?p=engineering&q="
								  >Engineering</a
								>
								<a
								  class="btn btn-outline-info mr-2 mt-2"
								  href="/job/?p=security&q="
								  >Security</a
								>
								<a
								  class="btn btn-outline-info mr-2 mt-2"
								  href="/job/?p=energys&q="
								  >Energy</a
								>
								<a
								  class="btn btn-outline-info mr-2 mt-2"
								  href="/job/?p=labour&q="
								  >Labour</a
								>
								<a
								  class="btn btn-outline-info mr-2 mt-2"
								  href="/job/?p=media&q="
								  >Media</a
								>
							  
				
							  </div>
							</form>
						  </div>
						</div>
					  </div>
				</div>
			</div>
		</div>
		<!-- About Us END -->
		<!-- Call To Action -->
		<div class="section-full content-inner-2 call-to-action overlay-black-dark text-white text-center bg-img-fix" style="background-image: url(static/images/background/bg4.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="m-b10">We Help You Get The Best Job And Find The Best Talent Out There!</h2>
						<p class="mb-0">Get connected with jobs from all over the world. Create a profile and immediately get noticed by the right recruiters. Be the Best Candidate out There! </p>
              			<p class="mb-0">Hiring can be a tedious task, let us make it easy for you. Post unlimited job posts you want for free and search for the best candidate for the job! </p>
						<a href="{% url 'account_login' %}" class="site-button m-t20 outline outline-2 radius-xl">Join Us!</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Call To Action END -->
		<!-- Our Job -->
		<div class="section-full bg-white content-inner-2">
			<div class="container">
				<div class="d-flex job-title-bx section-head">
					<div class="mr-auto">
						<h2 class="m-b5">Recent Jobs</h2>
						<h6 class="fw4 m-b0">20+ Recently Added Jobs</h5>
					</div>
					<div class="align-self-end text-centery">
						<a href="{% url 'job-search-list' %}" class="site-button button-sm">Browse All Jobs <i class="fa fa-long-arrow-right"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9">
						<ul class="post-job-bx">
							{% for job in jobs %} 
							<li>
								<a href="{% url 'job-detail' job.slug %}">
									<div class="d-flex m-b30">
										<div class="job-post-company">
											<span><img src="{% static 'images/logo/theicon.PNG' %}"/></span>
										</div>
										<div class="job-post-info">
											<h4>{{job.title}}</h4>
											<ul>
												<li><i class="fa fa-map-marker"></i> {{job.location}}</li>
												<li><i class="fa fa-bookmark-o"></i> {{job.job_type}}</li>
												<li><i class="fa fa-clock-o"></i> Published {{job.date_posted|timesince}} ago</li>
											</ul>
										</div>
									</div>
									<div class="d-flex">
										<div class="job-time mr-auto">
											<span>{{job.company}}</span>
										</div>
										<div class="salary-bx">
											<span>Deadline: {{job.deadline|date:"F d, Y"}}</span>
										</div>
									</div>
									<span class="post-like fa fa-heart-o"></span>
								</a>
							</li>
						
							{% endfor %}	
						</ul>
						<div class="m-t30">
							
                      		<a class="btn btn-primary py-3 px-5" href="{% url 'job-search-list' %}">Browse More Jobs</a>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="sticky-top">
							<div class="candidates-are-sys m-b30">
								<div class="candidates-bx">
									<div class="testimonial-text">
                    <h4>We Got Your Dream Job Covered!</h4>
                    <p>Complete your profile and getnoticed with employes fast!</p>
                    									
                  </div>
									<div class="testimonial-detail"><a href="{% url 'account_login' %}" class="site-button">Create Account</a>
                  </div>
								</div>
							</div>
							<div class="quote-bx">
								<div class="quote-info">
									<h4>Want to be the first to apply for jobs!</h4>
									<p>Subscribe to our newsletter to get jobs and career tips as fast as they come!</p>
									<a href="{% url "newsletter:subscribe" %}" class="site-button">Subscribe!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Our Job END -->	

		<!-- Our Latest Blog -->
		<div class="section-full content-inner-2 overlay-white-middle">
			<div class="container">
				<div class="section-head text-black text-center">
					<h2 class="text-uppercase m-b0">Career Tips</h2>
					<p>Read our blogs to get some career hacks to get you moving!</p>
				</div>
				<div class="blog-carousel owl-carousel owl-btn-center-lr owl-btn-3 owl-theme owl-btn-center-lr owl-btn-1">
          {% for post in posts %} 
          <div class="item">
            <div class="blog-post blog-grid blog-style-1">
               <div class="dez-info">
                 <div class="dez-post-meta">
                  <ul class="d-flex align-items-center">
                    <li class="post-date"><i class="fa fa-calendar"></i>{{ post.publish }}</li>
                      {% with comments.count as total_comments %}
                    <li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">
                      {{ total_comments }} Comment{{ total_comments|pluralize }} </a></li>
                      {% endwith %} 
                  </ul>
                </div>
                <div class="dez-post-title ">
                  <h5 class="post-title font-20"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                </div>
                <div class="dez-post-text">
                    <p>{{ post.content|markdown|truncatewords_html:30 }}</p>
                </div>
                <div class="dez-post-readmore blog-share"> 
                  <a href="{{ post.get_absolute_url }}" title="READ MORE" rel="bookmark" class="site-button outline">READ MORE</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
				</div>
			</div>
		</div>
		<!-- Our Latest Blog -->

	</div>

	
</div>

{% endblock %}
	