{%extends "users/layout.html" %} {% load static %} {% block content %}
<br /><br />

    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/banner/bnr1.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Relevant Jobs</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="#">Home</a></li>
							<li>Relevant Jobs</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
              </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Browse Jobs -->
			<div class="section-full bg-white browse-job content-inner-2">

                <div class="content-block">
                    <!-- Browse Jobs -->
                    <div class="section-full bg-white browse-job content-inner-2">
                        
                            {%if jobs %}
        
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-9 col-lg-8">
                                                    <h5 class="widget-title font-weight-700 text-uppercase">Most Relevant Jobs for You</h5>
                                                    <ul class="post-job-bx">
                                                        {% for job,common, job_skill in jobs %}
                                                        <li>
                                                            <a href="{% url 'job-detail' job.slug %}">
                                                                <div class="d-flex m-b30">
                                                                    <div class="job-post-company">
                                                                        <span><img src="{% static 'images/logo/theicon.PNG' %}"/></span>
                                                                    </div>
                                                                    <div class="job-post-info">
                                                                        <h4>{{job.title}}</h4>
                                                                        <ul>
                                                                            <li><i class="fa fa-map-marker"></i> {{job.location}}</li>
                                                                            <li><i class="fa fa-bookmark-o"></i> {{job.job_type}}</li>
                                                                            <li><i class="fa fa-clock-o"></i> Published {{job.date_posted|timesince}} ago</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex">
                                                                    <div class="job-time mr-auto">
                                                                        <span>{{job.company}}</span>
                                                                    </div>
                                                                    <div class="salary-bx">
                                                                        <span>Deadline: {{job.date_posted|date:"F d, Y"}}</span>
                                                                    </div>
                                                                </div>
                                                                <span class="post-like fa fa-heart-o"></span>
                                                            </a>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <div class="pagination-bx m-t30">
                                                        <br />
                                                    <div class="pagination">
                                                    <span class="step-links">
                                                        {% if jobs.has_previous %}
                                                        <a
                                                        class="btn btn-info"
                                                        href="?page=1{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                                                        >&laquo; First</a
                                                        >
                                                        <a
                                                        class="btn btn-danger"
                                                        href="?page={{ jobs.previous_page_number }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                                                        >Prev</a
                                                        >
                                                        {% endif %}
                                                        <span class="current">
                                                        Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
                                                        </span>
                                                        {% if jobs.has_next %}
                                                        <a
                                                        class="btn btn-success"
                                                        href="?page={{ jobs.next_page_number }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                                                        >Next</a
                                                        >
                                                        <a
                                                        class="btn btn-primary"
                                                        href="?page={{ jobs.paginator.num_pages }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                                                        >Last &raquo;</a
                                                        >
                                                        {% endif %}
                                                    </span>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                            <br />
                            {% else %}
                        <p class="text-center">No relevant jobs for you now! Please check if your <a href="{% url 'my-profile' %}" ><font color="#1863D0"><b><i> profile</i></b></font></a> is complete.</p><br>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
