{%extends "users/layout.html" %} {% load static %} {% block content %}
<br /><br />
<div>
<h3 class="text-center"><b>Most Relevant Jobs for You</b></h3><br>
{%if counter %}
 


    <!-- Jobs Start -->
    <div class="container-xxl py-5">
      <div class="container">
          <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
              {% comment %} <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                  <li class="nav-item">
                      <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                          <h6 class="mt-n1 mb-0">Featured</h6>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                          <h6 class="mt-n1 mb-0">Full Time</h6>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                          <h6 class="mt-n1 mb-0">Part Time</h6>
                      </a>
                  </li>
              </ul> {% endcomment %}
              <hr my-2 />
              <div class="tab-content">
                  <div id="tab-1" class="tab-pane fade show p-0 active">
                    {% for job,common, job_skill in jobs %}
                    <div class="job-item p-4 mb-4">
                          <div class="row g-4">
                              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                  <img class="flex-shrink-0 img-fluid border rounded" src="{% static 'images/logo/theicon.PNG' %}" alt="" style="width: 80px; height: 80px;">
                                  <div class="text-start ps-4">
                                    <h5 class="mb-3">{{job.title}}</h5>
                                      <span class="text-truncate me-3"><i class="mg5r fa fa-briefcase"></i> {{job.company}} | </span>
                                      <span class="text-truncate me-3"><i class="fa fa-map-marker mg5r"></i> {{job.location}} | </span>
                                      <span class="text-truncate me-0"><i class="mg5r fa fa-envelope"></i> {{job.job_type}}</span>
                                      
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                  <div class="d-flex mb-3">
                                    {% if not save_button %}
                                    <a
                                    class="btn btn-success"
                                    href="{% url 'save-job' job.slug %}"
                                    ><b>Save</b></a
                                    >
                                    {% else %}
                                    <a
                                    class="btn btn-danger"
                                    href="{% url 'remove-job' job.slug %}"
                                    ><b>Remove</b></a
                                    >
                                    {% endif %}   |  
                                      <a class="btn btn-primary" href="{% url 'job-detail' job.slug %}">Apply Now</a>
                                  </div>
                                  <small class="text-truncate"><i class="fa fa-calendar text-primary me-2"></i> Posted {{job.date_posted|timesince}} ago</small>
                              </div>
                          </div>
                      </div>
                      <div class="card-footer">
                        <span style="font-size: 18px"
                          >You have <b class="text-success">{{ common }} </b>out of <b class="text-danger">{{ job_skill }}</b> skills required for this job.</span
                        >
                      </div>
                      <br/>
                      
                  {% comment %} 
                  <div id="tab-2" class="tab-pane fade show p-0">
                      <div class="job-item p-4 mb-4">
                          <div class="row g-4">
                              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                  <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-1.jpg" alt="" style="width: 80px; height: 80px;">
                                  <div class="text-start ps-4">
                                      <h5 class="mb-3">Software Engineer</h5>
                                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                      <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                  <div class="d-flex mb-3">
                                      <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                      <a class="btn btn-primary" href="">Apply Now</a>
                                  </div>
                                  <small class="text-truncate"><i class="fa fa-calendar text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                              </div>
                          </div>
                      </div>
                      <div class="job-item p-4 mb-4">
                          <div class="row g-4">
                              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                  <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-2.jpg" alt="" style="width: 80px; height: 80px;">
                                  <div class="text-start ps-4">
                                      <h5 class="mb-3">Marketing Manager</h5>
                                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                      <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                  <div class="d-flex mb-3">
                                      <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                      <a class="btn btn-primary" href="">Apply Now</a>
                                  </div>
                                  <small class="text-truncate"><i class="fa fa-calendar text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                              </div>
                          </div>
                      </div>
                      <div class="job-item p-4 mb-4">
                          <div class="row g-4">
                              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                  <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-3.jpg" alt="" style="width: 80px; height: 80px;">
                                  <div class="text-start ps-4">
                                      <h5 class="mb-3">Product Designer</h5>
                                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                      <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                  <div class="d-flex mb-3">
                                      <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                      <a class="btn btn-primary" href="">Apply Now</a>
                                  </div>
                                  <small class="text-truncate"><i class="fa fa-calendar text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                              </div>
                          </div>
                      </div>
                      <div class="job-item p-4 mb-4">
                          <div class="row g-4">
                              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                  <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-4.jpg" alt="" style="width: 80px; height: 80px;">
                                  <div class="text-start ps-4">
                                      <h5 class="mb-3">Creative Director</h5>
                                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                      <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                  <div class="d-flex mb-3">
                                      <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                      <a class="btn btn-primary" href="">Apply Now</a>
                                  </div>
                                  <small class="text-truncate"><i class="fa fa-calendar text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                              </div>
                          </div>
                      </div>
                      <div class="job-item p-4 mb-4">
                          <div class="row g-4">
                              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                  <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-5.jpg" alt="" style="width: 80px; height: 80px;">
                                  <div class="text-start ps-4">
                                      <h5 class="mb-3">Wordpress Developer</h5>
                                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                      <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                  <div class="d-flex mb-3">
                                      <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                      <a class="btn btn-primary" href="">Apply Now</a>
                                  </div>
                                  <small class="text-truncate"><i class="fa fa-calendar text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                              </div>
                          </div>
                      </div>
                      <a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
                  </div>
                  <div id="tab-3" class="tab-pane fade show p-0">
                      <div class="job-item p-4 mb-4">
                          <div class="row g-4">
                              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                  <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-1.jpg" alt="" style="width: 80px; height: 80px;">
                                  <div class="text-start ps-4">
                                      <h5 class="mb-3">Software Engineer</h5>
                                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                      <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                  <div class="d-flex mb-3">
                                      <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                      <a class="btn btn-primary" href="">Apply Now</a>
                                  </div>
                                  <small class="text-truncate"><i class="fa fa-calendar text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                              </div>
                          </div>
                      </div>
                      <div class="job-item p-4 mb-4">
                          <div class="row g-4">
                              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                  <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-2.jpg" alt="" style="width: 80px; height: 80px;">
                                  <div class="text-start ps-4">
                                      <h5 class="mb-3">Marketing Manager</h5>
                                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                      <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                  <div class="d-flex mb-3">
                                      <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                      <a class="btn btn-primary" href="">Apply Now</a>
                                  </div>
                                  <small class="text-truncate"><i class="fa fa-calendar text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                              </div>
                          </div>
                      </div>
                      <div class="job-item p-4 mb-4">
                          <div class="row g-4">
                              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                  <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-3.jpg" alt="" style="width: 80px; height: 80px;">
                                  <div class="text-start ps-4">
                                      <h5 class="mb-3">Product Designer</h5>
                                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                      <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                  <div class="d-flex mb-3">
                                      <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                      <a class="btn btn-primary" href="">Apply Now</a>
                                  </div>
                                  <small class="text-truncate"><i class="fa fa-calendar text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                              </div>
                          </div>
                      </div>
                      <div class="job-item p-4 mb-4">
                          <div class="row g-4">
                              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                  <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-4.jpg" alt="" style="width: 80px; height: 80px;">
                                  <div class="text-start ps-4">
                                      <h5 class="mb-3">Creative Director</h5>
                                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                      <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                  <div class="d-flex mb-3">
                                      <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                      <a class="btn btn-primary" href="">Apply Now</a>
                                  </div>
                                  <small class="text-truncate"><i class="fa fa-calendar text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                              </div>
                          </div>
                      </div>
                      <div class="job-item p-4 mb-4">
                          <div class="row g-4">
                              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                  <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-5.jpg" alt="" style="width: 80px; height: 80px;">
                                  <div class="text-start ps-4">
                                      <h5 class="mb-3">Wordpress Developer</h5>
                                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                      <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                  <div class="d-flex mb-3">
                                      <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                      <a class="btn btn-primary" href="">Apply Now</a>
                                  </div>
                                  <small class="text-truncate"><i class="fa fa-calendar text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                              </div>
                          </div>
                      </div>
                      <a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
                  </div> 
                  {% endcomment %}
                  {% endfor %}
                  <br />
                  <div class="pagination">
                    <span class="step-links">
                      {% if jobs.has_previous %}
                      <a
                        class="btn btn-info"
                        href="?page=1{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                        >&laquo; First</a
                      >
                      <a
                        class="btn btn-danger"
                        href="?page={{ jobs.previous_page_number }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                        >Prev</a
                      >
                      {% endif %}
                      <span class="current">
                        Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
                      </span>
                      {% if jobs.has_next %}
                      <a
                        class="btn btn-success"
                        href="?page={{ jobs.next_page_number }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                        >Next</a
                      >
                      <a
                        class="btn btn-primary"
                        href="?page={{ jobs.paginator.num_pages }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                        >Last &raquo;</a
                      >
                      {% endif %}
                    </span>
                  </div>                      </div>
              </div>
          </div>
      </div>
    </div>
    <!-- Jobs End -->
    
         
        
      </div>
    </div>
 
</div>
<br />
{% else %}
<p class="text-center">No relevant jobs for you now! Please check if your <a href="{% url 'my-profile' %}" ><font color="#1863D0"><b><i> profile</i></b></font></a> is complete.</p><br>
{% endif %}
</div>
{% endblock content %}
