{% extends "users/layout.html" %} {% load static %} {% block content %}

<div>
  <form
    class="form-signin mt-4"
    action="{% url 'job-search-list' %}"
    method="get"
  >
    <div class="row">
      <div class="col-md-6">
        <input
          name="p"
          type="text"
          class="form-control"
          placeholder="Enter Job Title, Skills, Type or Company"
        /><br />
      </div>
      <div class="col-md-6">
        <input
          name="q"
          type="text"
          class="form-control"
          placeholder="Enter Job Location"
        /><br />
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Search Jobs
      </button>
    </div>
  </form>
  <hr my-2 />
  {%if jobs %}
  <div class="row">
    {% for job in jobs %}
    <div class="col-md-6">
      <div class="card card-signin my-2">
        <span class="ml-3 mt-3">
          <a href="{% url 'job-detail' job.slug %}"
            ><h4 class="text-dark">
              <b>{{job.title}} ({{job.job_type}})</b>
            </h4></a
          >
          <p style="font-size: 17px">{{job.company}}<br />{{job.location}}</p>
          
        </span>
        <div class="card-footer">
          <span style="font-size: 14px"
            >Posted on {{job.date_posted|date:"F d, Y"}}</span
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br />
<div class="pagination">
  <span class="step-links">
    {% if jobs.has_previous %}
    <a
      class="btn btn-info"
      href="?page=1{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
      >&laquo; First</a
    >
    <a
      class="btn btn-danger"
      href="?page={{ jobs.previous_page_number }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
      >Prev</a
    >
    {% endif %}
    <span class="current">
      Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
    </span>
    {% if jobs.has_next %}
    <a
      class="btn btn-success"
      href="?page={{ jobs.next_page_number }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
      >Next</a
    >
    <a
      class="btn btn-primary"
      href="?page={{ jobs.paginator.num_pages }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
      >Last &raquo;</a
    >
    {% endif %}
  </span>
</div>

{% else %}
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
       <h5 class="card-title text-center">
          <b>No relevant jobs found for this search term!</b><br />
        </h5>
        <hr my-2 />
        <h5 class="card-title text-center"><b>Search instead for:</b><br /></h5>
        <form class="form-signin">
          <div class="form-group">
            <a
              class="btn btn-outline-primary mr-2 mt-2"
              href="/job/?p=accounting+auditing+finance+banking+insurance&q="
              >Accounting, Auditing & Finance</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=admin+office&q="
              >Admin & Office</a
            >
            <a
              class="btn btn-outline-danger mr-2 mt-2"
              href="/job/?p=agriculture+farming<&q="
              >Agriculture & Farming</a
            >
            <a class="btn btn-outline-dark mr-2 mt-2" href="/job/?p=art+fashion+design&q="
              >Art, Fashion & Design</a
            >
            <a
              class="btn btn-outline-danger mr-2 mt-2"
              href="/job/?p=building+architecture&q="
              >Building & Architecture</a
            >
            <a
            class="btn btn-outline-primary mr-2 mt-2"
            href="/job/?p=business+development+management&q="
            >Business Management</a
          >
            <a
            class="btn btn-outline-secondary mr-2 mt-2"
            href="/job/?p=catering+food+services&q="
            >Catering & Food Services</a
          >
          
            <a
              class="btn btn-outline-secondary mr-2 mt-2"
              href="/job/?p=consulting+strategy&q="
              >Consulting & Strategy</a
            >
            
            <a
              class="btn btn-outline-danger mr-2 mt-2"
              href="/job/?p=customer+support+service&q="
              >Customer Support & Service </a
            >
            <a
              class="btn btn-outline-success mr-2 mt-2"
              href="/job/?p=driver+transport+Services&q="
              >Driver & Transport Services</a
            >
            <a
              class="btn btn-outline-primary mr-2 mt-2"
              href="/job/?p=technology+software&q="
              >Software & Technology</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=estate+agents+property+management&q="
              >Property Management</a
            >
            
           
            <a class="btn btn-outline-dark mr-2 mt-2" href="/job/?p=health+nutrition&q="
              >Health & Nutrition</a
            >
            <a
              class="btn btn-outline-danger mr-2 mt-2"
              href="/job/?p=hospitality+leisure&q="
              >Hospitality & Leisure</a
            >
            <a
              class="btn btn-outline-success mr-2 mt-2"
              href="/job/?p=human+resource&q="
              >Human Resource</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=legal+services&q="
              >Legal Services</a
            >
            
           
            <a
              class="btn btn-outline-danger mr-2 mt-2"
              href="/job/?p=medical+pharmaceutical&q="
              >Medical & Pharmaceutical</a
            >
            <a
              class="btn btn-outline-secondary mr-2 mt-2"
              href="/job/?p=product+project+management&q="
              >Product & Project Management</a
            >
            <a class="btn btn-outline-dark mr-2 mt-2" href="/job/?p=quality+control+assurance&q="
              >Quality Control & Assurance</a
            >
            <a
              class="btn btn-outline-danger mr-2 mt-2"
              href="/job/?p=research+teaching+training&q="
              >Research, Teaching & Training</a
            >
            <a
            class="btn btn-outline-info mr-2 mt-2"
            href="/job/?p=sales+marketing&q="
            >Sales & Marketing</a
          >

            <a
              class="btn btn-outline-success mr-2 mt-2"
              href="/job/?p=supply+chain+procurement&q="
              >Supply Chain & Procurement</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=trade+services&q="
              >Trade Services</a
            >
            <a
            class="btn btn-outline-info mr-2 mt-2"
            href="/job/?p=sports+beauty&q="
            >Sports & Beauty</a
          >
          <a
          class="btn btn-outline-info mr-2 mt-2"
          href="/job/?p=sales+marketing&q="
          >Sales & Marketing</a
        >
        <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=government&q="
              >Government</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=engineering+telecommunications&q="
              >Engineering & Telecommunications</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=security&q="
              >Security</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=power+energys&q="
              >Power & Energy</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=skilled+manual+labour&q="
              >Skilled Manual Labour</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=media & communications&q="
              >Media & Communications</a
            >
          
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
