{% extends "users/layout.html" %} 
{% load static %} 
{% load social_share %}
{% block content %}
<br /><br />
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/banner/bnr1.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Job Detail</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="#">Home</a></li>
							<li>Job Detail</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- Job Detail -->
			<div class="section-full content-inner-1">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="sticky-top">
								<div class="row">
									
									<div class="col-lg-12 col-md-6">
										<div class="widget bg-white p-lr20 p-t20  widget_getintuch radius-sm">
											<h4 class="text-black font-weight-700 p-t10 m-b15">Job Details</h4>
											<ul>
												<li><i class="ti-shield"></i><strong class="font-weight-700 text-black">Company</strong> {{job.company}}</li>
												<li><i class="ti-location-pin"></i><strong class="font-weight-700 text-black">Location</strong><span class="text-black-light"> {{job.location}} </span></li>
												<li><i class="ti-shield"></i><strong class="font-weight-700 text-black">Job Type</strong>{{job.job_type}}</li>
												<li><i class="ti-shield"></i><strong class="font-weight-700 text-black">Qualification</strong>{{job.qualification}}</li>
												<li><i class="ti-shield"></i><strong class="font-weight-700 text-black">Experience</strong>{{job.experience}}</li>
								
											</ul>
										</div>
									</div>
									<div class="col-lg-12 col-md-6">
										<div class="widget bg-white p-lr20 p-t20  widget_getintuch radius-sm">
											<h4 class="text-black font-weight-700 p-t10 m-b15">Share Job<i class="fa fa-share-alt" style="font-size:36px"></i></h4>
											<ul>
												<li>{% post_to_facebook object_or_url '<i class="fa fa-facebook-f" style="font-size:36px; color:#3b5998"></i>' %}<strong class="font-weight-700 text-black" style="color:#3b5998">Facebook</strong></li>
												<li>{% post_to_twitter "New Job Post: {{job.title}}. Check it out!" object_or_url '<i class="fa fa-twitter" style="font-size:36px; color:#1DA1F2;"></i>' %}<strong class="font-weight-700 text-black"style="color:#1DA1F2">Twitter</strong></li>
												<li>{% send_email job.title "New Job Post: {{job.title}}. Check it out!" object_or_url '<i class="fa fa-envelope" style="font-size:36px;color:#500050"></i>' %}</i><strong class="font-weight-700 text-black" style="color:#500050">Email</strong></li>
												<li>{% post_to_reddit "New Job Post: {{job.title}}" object_or_url '<i class="fa fa-reddit-alien" style="font-size:36px;color:#ff4500"></i>'%}<strong class="font-weight-700 text-black" style="color:#ff4500">Reddit</strong></li>
												<li>{% post_to_telegram "New Job Post: {{job.title}}" object_or_url '<i class="fa fa-telegram" style="font-size:36px;color:#0088CC"></i>'%}</i><strong class="font-weight-700 text-black" style="color:#0088CC">Telegram</strong></li>
												<li>{% post_to_whatsapp object_or_url '<i class="fa fa-whatsapp" style="font-size:36px;color:#075e54"></i>' %}</i><strong class="font-weight-700 text-black" style="color:#075e54">WhatsApp</strong></li>
												<li>{% post_to_linkedin object_or_url %}<strong class="font-weight-700 text-black"style="color:#0e76a8">LinkedIn</strong></li>
												<li>{% save_to_pinterest object_or_url %}</i><strong class="font-weight-700 text-black"style="color:#c8232c">Pinterest</strong></li>
											</ul>
											
										</div>
									</div>
								</div>
                            </div>
						</div>
						<div class="col-lg-8">
							<div class="job-info-box">
								<h3 class="m-t0 m-b10 font-weight-700 title-head">
									<a href="#" class="text-secondry m-r30">{{job.title}}</a>
								</h3>
								<ul class="job-info">
									<li><strong>Job Type</strong> {{job.job_type}}</li>
									<li><strong>Deadline:</strong> {{job.deadline}}</li>
									<li><i class="ti-location-pin text-black m-r5"></i> {{job.location}} </li>
								</ul><br/>
								<h5 class="font-weight-600">Job Description</h5>
								<div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
								<p>{{ job.description|safe }}</p>

								<hr my-2 />

								<h5 class="font-weight-600">Skills Required</h5>
								<div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
								<p>{{job.skills_req}}</p>
								 
								<hr my-2 />

								{% if job.link %}
									<a class="btn btn-warning btn-lg" href="{{job.link}}"
										><b>Apply On Company's Website</b></a
									>
								{% else %} {% if not apply_button %} {% if profile.resume %}
								<a
								class="btn btn-warning btn-lg"
								href="{% url 'apply-job' job.slug %}"
								><b>Apply Now</b></a
							  >
							  {%else %}
							  <a class="btn btn-danger btn-lg" href="{% url 'edit-profile' %}"
								><b>Add Resume to apply!</b></a
							  >
							  {%endif%} {% else %}
							  <a class="btn btn-success btn-lg" href="{% url 'applied-jobs' %}"
								><b>Applied!</b></a
							  >
							  {% endif %} {%endif%} {% if not save_button %}
							  <a
								class="btn btn-primary btn-lg ml-2"
								href="{% url 'save-job' job.slug %}"
								><b>Save</b></a
							  >
							  {% else %}
							  <a
								class="btn btn-danger btn-lg ml-2"
								href="{% url 'remove-job' job.slug %}"
								><b>Remove</b></a
							  >
							  {% endif %}
 
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr my-1 />           <!-- Job Detail -->
			<!-- Our Jobs -->
			<div class="section-full content-inner">
				
				<div class="container">
					
						<h3 class="text-center">Similar Jobs</h3>
						
						<div class="row">
							{% for rel_job in relevant_jobs %}
							<div class="col-xl-3 col-lg-6 col-md-6">
								<div class="m-b30 blog-grid">
									<div class="dez-info p-a20 border-1">
										<div class="dez-post-title ">
											<h5 class="post-title"><a href="{% url 'job-detail' rel_job.slug %}">{{rel_job.title}}</a></h5>
										</div>
										 
										<div class="dez-post-meta ">
											<ul>
												<li class="post-author"> <i class="ti-user"></i> {{rel_job.company}} </li>
												<li class="post-date"> <i class="ti-location-pin"></i> {{rel_job.location}} </li>
												<li class="post-date"><i class="ti-briefcase"></i> {{rel_job.job_type}}</a> </li>
											</ul>
										</div>
										 
									    <div class="dez-post-readmore"> 
											<a href="{% url 'job-detail' rel_job.slug %}" class="site-button outline">Apply Now <i class="ti-arrow-right"></i></a>
										</div>
										<div class="card-footer">
											<span style="font-size: 14px"
											  >Posted {{rel_job.date_posted|timesince}} ago</span
											>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						
						
						 
				</div>
				 
			</div>
		 
			<!-- Our Jobs END -->
		</div>
	</div>

{% add_pinterest_script %} <!--  Required for save_to_pinterest. Add to the end of body tag. -->
	{% endblock content %}
    <!-- Content END-->

