{% extends "users/layout.html" %} {% load static %} {% block content %}

<div>
  <form
    class="form-signin mt-4"
    action="{% url 'job-search-list' %}"
    method="get"
  >
    <div class="row">
      <div class="col-md-6">
        <input
          name="p"
          type="text"
          class="form-control"
          placeholder="Enter Job Title, Skills, Type or Company"
        /><br />
      </div>
      <div class="col-md-6">
        <input
          name="q"
          type="text"
          class="form-control"
          placeholder="Enter Job Location"
        /><br />
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Search Jobs
      </button>
    </div>
  </form>
  <hr my-2 />
  {%if jobs %}
  <div class="row">
    {% for job in jobs %}

    <div class="col-md-6">
      <div class="card card-signin my-2">
        <span class="ml-3 mt-3">
          <a href="{% url 'add-job-detail' job.slug %}"
            ><h4 class="text-dark">
              <span><b>{{job.title}}</b></span>
            </h4></a
          >
          <p style="font-size: 17px"><i class="mg5r fa fa-briefcase"></i> {{job.company}}  |  <i class="mg5r fa fa-envelope"></i> {{job.job_type}} </p>
          <p style="font-size: 17px"><i class="fa fa-map-marker mg5r"></i> {{job.location}}  |  <i class="mg5r fa fa-clock"></i> Deadline: {{job.deadline}}  </p>
           
        </span>
        <div class="card-footer">
          <span style="font-size: 14px"
            ><i class="fa fa-calendar"></i> Posted on {{job.date_posted|date:"F d, Y"}}</span
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br />
<div class="pagination">
  <span class="step-links">
    {% if jobs.has_previous %}
    <a
      class="btn btn-info"
      href="?page=1{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
      >&laquo; First</a
    >
    <a
      class="btn btn-danger"
      href="?page={{ jobs.previous_page_number }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
      >Prev</a
    >
    {% endif %}
    <span class="current">
      Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
    </span>
    {% if jobs.has_next %}
    <a
      class="btn btn-success"
      href="?page={{ jobs.next_page_number }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
      >Next</a
    >
    <a
      class="btn btn-primary"
      href="?page={{ jobs.paginator.num_pages }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
      >Last &raquo;</a
    >
    {% endif %}
  </span>
</div>

{% else %}
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
       <h5 class="card-title text-center">
          <b>No relevant jobs found for this search term!</b><br />
        </h5>
        <hr my-2 />
        <h5 class="card-title text-center"><b>Search instead for:</b><br /></h5>
        <form class="form-signin">
          <div class="form-group">
            <a
              class="btn btn-outline-primary mr-2 mt-2"
              href="/job/?p=accounting&q="
              >Accounting</a
            >

            <a
            class="btn btn-outline-primary mr-2 mt-2"
            href="/job/?p=auditing&q="
            >Auditing</a
          >

          <a
              class="btn btn-outline-primary mr-2 mt-2"
              href="/job/?p=finance&q="
              >Finance</a
            >

            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=admin&q="
              >Admin</a
            >
            <a
              class="btn btn-outline-danger mr-2 mt-2"
              href="/job/?p=agriculture&q="
              >Agriculture </a
            >
            <a class="btn btn-outline-dark mr-2 mt-2" href="/job/?p=design&q="
              >Design</a
            >
            <a
              class="btn btn-outline-danger mr-2 mt-2"
              href="/job/?p=architecture&q="
              >Architecture</a
            >
            <a
            class="btn btn-outline-primary mr-2 mt-2"
            href="/job/?p=business&q="
            >Business</a
          >
            <a
            class="btn btn-outline-secondary mr-2 mt-2"
            href="/job/?p=catering&q="
            >Catering</a
          >
          
            <a
              class="btn btn-outline-secondary mr-2 mt-2"
              href="/job/?p=consulting&q="
              >Consulting</a
            >
            
            
            <a
              class="btn btn-outline-success mr-2 mt-2"
              href="/job/?p=transport&q="
              >Transport</a
            >
            <a
              class="btn btn-outline-primary mr-2 mt-2"
              href="/job/?p=software&q="
              >Software</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=management&q="
              >Management</a
            >
            
            <a
              class="btn btn-outline-danger mr-2 mt-2"
              href="/job/?p=hospitality&q="
              >Hospitality</a
            >
            <a
              class="btn btn-outline-success mr-2 mt-2"
              href="/job/?p=human+resource&q="
              >Human Resource</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=legal&q="
              >Legal</a
            >
            
           
            <a
              class="btn btn-outline-danger mr-2 mt-2"
              href="/job/?p=medicine&q="
              >Medicine</a
            >
            <a
              class="btn btn-outline-secondary mr-2 mt-2"
              href="/job/?p=project&q="
              >Project</a
            >
            <a class="btn btn-outline-dark mr-2 mt-2" href="/job/?p=quality+control&q="
              >Quality Control</a
            >
            <a
              class="btn btn-outline-danger mr-2 mt-2"
              href="/job/?p=teaching&q="
              >Teaching</a
            >
            <a
            class="btn btn-outline-info mr-2 mt-2"
            href="/job/?p=sales&q="
            >Sales</a
          >

            <a
              class="btn btn-outline-success mr-2 mt-2"
              href="/job/?p=procurement&q="
              >Procurement</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=trade&q="
              >Trade</a
            >
            <a
            class="btn btn-outline-info mr-2 mt-2"
            href="/job/?p=beauty&q="
            >Beauty</a
          >
          
        <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=government&q="
              >Government</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=engineering&q="
              >Engineering</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=security&q="
              >Security</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=energys&q="
              >Energy</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=labour&q="
              >Labour</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=media&q="
              >Media</a
            >
          

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
