{% extends "users/layout.html" %} {% load static %} {% block content %}
<br /><br />
<div>
  <h3 class="text-center"><b>Saved Jobs</b></h3>
  <hr my-2 />
  <div class="row">
    {% for job in jobs %}
    <div class="col-md-6">
      <div class="card card-signin my-2">
        <span class="ml-3 mt-3">
          <a href="{% url 'add-job-detail' job.slug %}"
            ><h4 class="text-dark">
              <span><b>{{job.title}}</b></span>
            </h4></a
          >
          <p style="font-size: 17px"><i class="mg5r fa fa-briefcase"></i> {{job.company}}  |  <i class="mg5r fa fa-envelope"></i> {{job.job_type}} </p>
          <p style="font-size: 17px"><i class="fa fa-map-marker mg5r"></i> {{job.location}}  |  <i class="mg5r fa fa-clock"></i> Deadline: {{job.deadline}}  </p>
           
        </span>
        <div class="card-footer">
          <span style="font-size: 14px"
            ><i class="fa fa-calendar"></i> Posted on {{job.date_posted|date:"F d, Y"}}</span
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
