{% extends "users/layout.html" %}
{% load crispy_forms_tags %} 
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <!-- Content -->
    <div class="page-content bg-white">
      <!-- inner page banner -->
      <div class="dez-bnr-inr overlay-black-middle bg-pt" style="background-image:url(images/banner/bnr2.jpg);">
          <div class="container">
              <div class="dez-bnr-inr-entry">
                  <h1 class="text-white">Login</h1>
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
          <ul class="list-inline">
            <li><a href="#">Home</a></li>
            <li>Login</li>
          </ul>
        </div>
        <!-- Breadcrumb row END -->
              </div>
          </div>
      </div>
      <!-- inner page banner END -->
      <!-- contact area -->
      <div class="section-full content-inner shop-account">
          <!-- Product -->
          <div class="container">
              <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="font-weight-700 m-t0 m-b20">Sign In</h3>
        </div>
      </div>
 
 
        
        <div class="signin  card-body">
          {% if user.is_authenticated %}
              <p>Welcome, {{ user.first_name }} !</p>

          {% else %}
          <br/>
           <p>If you have not created an account yet, then please Sign Up as a 
            <a href="{% url 'candidate-register' %}" style="color:blue;"><b>Candidate</b></a> OR an <a href="{% url 'recruiter-register' %}" style="color:blue;"><b>Employer</b></a> first.</p>
          <br />
        
              <form class="login ui form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="button secondaryAction text" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
              </form>
              <div class="login-or text-center"><b>____________________ {% trans 'OR' %} ____________________</b></div>
        
         
          <form class="form-signin">
            <div class="form-group">
              <a
                class="btn btn-outline-dark btn-block" style="background-color:#DB4437;"
                href="{% provider_login_url 'google' %}"
                ><b>Sign In With Google</b></a
              ><hr/>
           

              <div class="form-group">
                            <a
                              class="btn btn-outline-dark btn-block" style="background-color:#3b5998;" 
                              href="{% provider_login_url 'facebook' %}"
                              ><b>Sign In With Facebook</b></a
                            >
                            <hr/>

              <a
                class="btn btn-outline-dark btn-block" style="background-color:#171515;" 
                href="{% provider_login_url 'github' %}"
                ><b>Sign In With Github</b></a
              >
              <hr/>
              <a
                class="btn btn-outline-dark btn-block" style="background-color:#0e76a8;" 
                href="{% provider_login_url 'linkedin_oauth2' %}"
                ><b>Sign In With LinkedIn</b></a
              >
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
