{% extends "users/layout.html" %}
{% load static %}

{% block content %}
<body id="bg">
	<div class="page-wraper">
	
		<!-- Content -->
		<div class="page-content bg-white">
			<!-- inner page banner -->
			<div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/banner/bnr1.jpg);">
				<div class="container">
					<div class="dez-bnr-inr-entry">
						<h1 class="text-white">Blog</h1>
						<!-- Breadcrumb row -->
						<div class="breadcrumb-row">
							<ul class="list-inline">
								<li><a href="#">Home</a></li>
								<li>Blog</li>
							</ul>
						</div>
						<!-- Breadcrumb row END -->
					</div>
				</div>
			</div>
			<!-- inner page banner END -->
			<div class="content-area">
				<div class="container">
					<div class="row">
						<!-- Left part start -->
						<div class="col-lg-8 col-md-7 col-sm-12">
	{% for post in posts %} 
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text text-muted h6">{{ post.author }} | {{ post.created}} </p>
          <p class="card-text">{{post.content|slice:":200"}}</p>
          <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
      {% endfor %}
    </div>
  
  </div>
</div>
{% endblock content %}
