{% block sidebar %}



  <!-- Side bar start -->
  <div class="col-lg-4 col-md-5 col-sm-12 sticky-top">
	<aside  class="side-bar">
		<div class="widget">
			<h6 class="widget-title style-1">Search</h6>
			<div class="search-bx style-1">

				<form role="search" id="search-form">
				   <a class="site-button" style= "color:white;" href="{% url "blog:post_search" %}">Click to Search Posts</a>
				</form>
			</div>
		</div>
		<div class="widget widget-popular-posts">
			<h4 class="widget-title">All posts ({% total_posts %})</h4>
		<div class="widget recent-posts-entry">
			<h6 class="widget-title style-1">Recent Posts</h6>
			<div class="widget-post-bx">
				<div class="widget-post clearfix">
					{% show_latest_posts 3 %}
					<div class="dez-post-media"><a href="{{ post.get_absolute_url }}"> <img src="static/images/blog/recent-blog/pic1.jpg" width="200" height="143" alt=""> </div>
					<div class="dez-post-info">
						<div class="dez-post-header">
							<h6 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h6>
						</div>
						<div class="dez-post-meta">
							<ul class="d-flex align-items-center">
								<li class="post-date"><i class="fa fa-calendar"></i>{{ post.publish }}</li>
								<li class="post-comment"><a href="#"><i class="fa fa-comments-o"></i>5k</a> </li>
							</ul>
						</div>
					</div>
				</div>
			   
			</div>
		</div>
		
		<div class="widget">
			<h4 class="widget-title">Most commented posts</h4>
			{% get_most_commented_posts as most_commented_posts %}
		<ul class="posts-list">
			{% for post in most_commented_posts %}
		<li>
		<div class="widget-thumb">
		<a href="#"><img src="static/img/blog/thumb1.jpg" alt="" /></a>
		 </div>
		<div class="widget-content">
			<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
		<span><i class="icon-calendar"></i>{{ post.publish }}</span>
		</div>
		<div class="clearfix"></div>
		</li>
		{% endfor %}

	</aside>
</div>
<!-- Side bar END -->

{% endblock sidebar %}
