{% extends "users/layout.html" %}
{% load blog_tags %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}


<div class="page-header" style="background: url(static/img/banner1.jpg);">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="breadcrumb-wrapper">
<h2 class="product-title">Blog Details</h2>
<ol class="breadcrumb">
<li><a href="#">Home /</a></li>
<li class="current">Blog Details</li>
</ol>
</div>
</div>
</div>
</div>
</div>


<div id="content" class="section-padding">
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-12 col-xs-12">

<div class="blog-post single-post">

<div class="post-thumb">
<a href="#"><img class="img-fluid" src="static/img/blog/blog1.jpg" alt=""></a>
<div class="hover-wrap">
</div>
</div>


<div class="post-content">
<h2 class="post-title">{{ post.title }}</h2>
<div class="meta">
<span class="meta-part"><a href="#"><i class="lni-user"></i> {{ post.author }}</span>
<span class="meta-part"><a href="#"><i class="lni-alarm-clock"></i> {{ post.publish }}</a></span>
<span class="meta-part"><a href="#"><i class="lni-folder"></i> Sticky</a></span>
{% with comments.count as total_comments %}
    <span class="meta-part"><a href="#"><i class="lni-comments-alt"></i> {{ total_comments }} Comment{{ total_comments|pluralize }} </a></span>
{% endwith %}

</div>
<div class="entry-summary">
    {{ post.content|markdown }}
    <p>
    <a href="{% url 'blog:post_share' post.id %}">
        Share this post
    </a>
    </p>
</div>
</div>

</div>


<div id="comments">
<div class="comment-box">
    {% with comments.count as total_comments %}
<h3>{{ total_comments }} Comment{{ total_comments|pluralize }}</h3>
{% endwith %}
<ol class="comments-list">
    {% for comment in comments %}
<li>
<div class="media">
<div class="thumb-left">
<a href="#">
<img class="img-fluid" src="static/img/blog/user1.jpg" alt="">
</a>
</div>
<div class="info-body">
<div class="media-heading">
<h4 class="name">Comment {{ forloop.counter }} by {{ comment.name }}</h4>
<span class="comment-date"><i class="lni-alarm-clock"></i> {{ comment.created }}</span>
<a href="#" class="reply-link"><i class="lni-reply"></i> Reply</a>
</div>
<p>{{ comment.body|linebreaks }}</p>
</div>
</div>

</li>
{% empty %}
<p>There are no comments yet.</p>
{% endfor %}

</ol>
</div>
</div>
</div>
</div>
<div id="respond">
    {% if new_comment %} 
<h2 class="respond-title">Your comment has been added.</h2>
{% else %}
<div></div>
<h2 class="respond-title">Leave a Comment</h2>
<form method="post">
<div class="form-group">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    {% buttons %}
        <button class="btn btn-common log-btn" type="submit">Post Comment</button>
    {% endbuttons %}

    {% endif %}
</div>
</form>
</div>
</div>
</div>
</div>
<aside id="sidebar" class="col-lg-4 col-md-12 col-xs-12 right-sidebar">
<div></div>
<div class="widget_search">
<form id="search-form">
<input type="search" class="form-control" autocomplete="off" name="s" placeholder="Search..." id="search-input" value="">
<button type="submit" id="search-submit" class="search-btn"><i class="lni-search"></i></button>
</form>
</div>

<div class="widget categories">
<h4 class="widget-title">All Categories</h4>
<ul class="categories-list">
<li>
<a href="#">
<i class="lni-dinner"></i>
Hotel & Travels <span class="category-counter">(5)</span>
</a>
</li>
<li>
<a href="#">
<i class="lni-control-panel"></i>
Services <span class="category-counter">(8)</span>
</a>
</li>
<li>
<a href="#">
<i class="lni-github"></i>
Pets <span class="category-counter">(2)</span>
</a>
</li>
<li>
<a href="#">
<i class="lni-coffee-cup"></i>
Restaurants <span class="category-counter">(3)</span>
</a>
</li>
<li>
<a href="#">
<i class="lni-home"></i>
Real Estate <span class="category-counter">(4)</span>
</a>
</li>
<li>
<a href="#">
<i class="lni-pencil"></i>
Jobs <span class="category-counter">(5)</span>
</a>
</li>
<li>
<a href="#">
<i class="lni-display"></i>
Electronics <span class="category-counter">(9)</span>
</a>
</li>
</ul>
</div>

<div class="widget widget-popular-posts">
    <h4 class="widget-title">Similar posts</h4>
    <ul class="posts-list">
        {% for post in similar_posts %}
    <li>
    <div class="widget-thumb">
    <a href="#"><img src="static/img/blog/thumb1.jpg" alt="" /></a>
    </div>
    <div class="widget-content">
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    <span><i class="icon-calendar"></i>June 21, 2018</span>
    </div>
    <div class="clearfix"></div>
    </li>
    {% empty %}
        There are no similar posts yet.
    {% endfor %}
    </ul>
</div>

<div class="widget widget-popular-posts">
    <h4 class="widget-title">All posts {% total_posts %}</h4>
<h4 class="widget-title">Recent Posts</h4>
{% show_latest_posts 3 %}

</div>
<div class="widget">
    <h4 class="widget-title">Most commented posts</h4>
    {% get_most_commented_posts as most_commented_posts %}
<ul class="posts-list">
    {% for post in most_commented_posts %}
<li>
<div class="widget-thumb">
<a href="#"><img src="static/img/blog/thumb1.jpg" alt="" /></a>
 </div>
<div class="widget-content">
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
<span><i class="icon-calendar"></i>{{ post.publish }}</span>
</div>
<div class="clearfix"></div>
</li>
{% endfor %}
</ul>

</div>
</aside>

</div>
</div>
</div>
{% endblock  %}