{% extends "users/layout.html" %} {% load static %} {% block content %}
{% load blog_tags %}
<br /><br />
<div style="background-color: white">
  <div class="row">
    <div class="col-md-6">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-4 text-center">
          Hire the next best candidate here!
        </h1>
        <p class="lead text-center">
          Hiring can be a tedious task. Let us make it easy for you!
        </p>
        <p class="lead text-center">
          <a
            class="btn btn-primary btn-lg"
            href="{% url 'add-job' %}"
            role="button"
            >Hire Now!</a
          >
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img
        class="img-fluid"
        src="{% static 'images/main-slider/home_banner.jpg' %}"
        alt="Hiring Image 2"
        height="60%" 
        width="75%"
      />
    </div>
  </div>
  <div class="row">
    <div class="col md-6 border-right">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">
          Easy to hire! Get started in a few simple steps!
        </h1>
        <p class="lead text-center">
          We make hiring as simple as possible. No more hassles. Just sign in,
          add necessary details about the job post and you are ready to go!
        </p>
        <p class="lead text-center">
          <a
            class="btn btn-primary btn-lg"
            href="{% url 'account_login' %}"
            role="button"
            >Create an Account</a
          >
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">Unlimited job posts. For Free!</h1>
        <p class="lead text-center">
          Post unlimited job posts you want for free. We do not charge you
          for just posting jobs!
        </p>
        <p class="lead text-center">
          <a
            class="btn btn-primary btn-lg"
            href="{% url 'add-job' %}"
            role="button"
            >Post Jobs</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col md-6 border-right">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">
          Want to get results faster? Go Premium!
        </h1>
        <p class="lead text-center">
          Job Posts of premium users enjoy more visibility and thus get more
          applicants in a shorter period of time!<br /><br />All of this for a
          small fee only!
        </p>
        <p class="lead text-center">
          <a
            class="btn btn-primary btn-lg"
            href="{% url 'pricing' %}"
            role="button"
            >Go Premium!</a
          >
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">
          Get recommended candidates for your job!
        </h1>
        <p class="lead text-center">
          Get candidates recommendation for each job post and make your hiring
          much faster by directly contacting them.<br /><br /><i
            >Available in free plan for a limited time!</i
          >
        </p>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col md-6 border-right">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">
          Search through the candidate database!
        </h1>
        <p class="lead text-center">
          Search and see resumes of every candidate on our database. Get the
          best candidate suitable for your jobs and directly contact them
          resulting in fast hires!<br /><br /><i
            >Avaialable in free plan for a limited time!</i
          >
        </p>
        <p class="lead text-center">
          <a
            class="btn btn-primary btn-lg"
            href="{% url 'search-candidates' %}"
            role="button"
            >Search Candidates</a
          >
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">
          More features coming soon!
        </h1>
        <p class="lead text-center">
          Subscribe to our newsletter and get the latest jobs
           and career tips for recruiters & employers delivered straight to your inbox!
        </p>
         <p class="lead text-center">
          <a
            class="btn btn-primary btn-lg"
            href="{% url "newsletter:subscribe" %}"
            role="button"
            >Subscribe!</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 md-8 lg-6 mx-auto">
      <div style="background: transparent !important" class="jumbotron">
      
       	<div class="section-head text-black text-center">
  <h1 class="display-5 text-center">
          Career Tips
        </h1>
        	<p>Read our blogs to get some career hacks to get you moving!</p>
				</div>
				<div class="blog-carousel owl-carousel owl-btn-center-lr owl-btn-3 owl-theme owl-btn-center-lr owl-btn-1">
				{% for post in posts %} 
				 
					<div class="item">
						<div class="blog-post blog-grid blog-style-1">
							<div class="dez-post-media dez-img-effect radius-sm"> <a href="{{ post.get_absolute_url }}"><img src="static/images/blog/grid/pic3.jpg" alt=""></a> </div>
							<div class="dez-info">
								 <div class="dez-post-meta">
									<ul class="d-flex align-items-center">
										<li class="post-date"><i class="fa fa-calendar"></i>{{ post.publish }}</li>
										<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">5k</a> </li>
									</ul>
								</div>
								<div class="dez-post-title ">
									<h5 class="post-title font-20"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
								</div>
								<div class="dez-post-text">
										<p>{{ post.content|markdown|truncatewords_html:30 }}</p>
								</div>
								<div class="dez-post-readmore blog-share"> 
									<a href="{{ post.get_absolute_url }}" title="READ MORE" rel="bookmark" class="site-button outline">READ MORE</a>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				 
				</div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
